RESEND_API_KEY=
FROM_EMAIL=noreply@sounez.com
RECIPIENT_EMAIL=
APP_URL=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_MIN_SCORE=
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_ADSENSE_PUB_ID=ca-pub-XXXXXXXXXXXXXXXXX
NEXT_PUBLIC_ADSENSE_SLOT_ID=XXXXXXXXXX
OPENAI_API_KEY=sk-...
